/*************************************************************************/
/**                                                                     **/
/**    Variables definitions                                            **/
/**    Brais Saco - Alia Technologies                                   **/
/**                                                                     **/
/*************************************************************************/

// Please, define using: $[module-name]-[variable-name] to avoid variable scope problems.

$module-name-prefix-stock: 'alia-reports-stock';
$module-name-prefix-stock-picking: $module-name-prefix-stock + '-picking';
$module-name-prefix-stock-delivery-slip: $module-name-prefix-stock + '-delivery-slip';


// -------------------------------------------------
// Variable Overrides.
//--------------------------------------------------

// You can override external layout main variables.
// (see alia_reports_base/static/src/sass/variables.scss)

// $alia-reports-base-font-color-main: red;
// $alia-reports-base-color-main: red;
// $alia-reports-base-color-second: blue;
// ...



// -------------------------------------------------
// Module own variables definition.
//--------------------------------------------------

