/*************************************************************************/
/** Block: Due's list
/*************************************************************************/

##{$module-name-prefix-invoice}-dues {

  .payment-term {
    font-weight: normal;
    font-size: 0.9em;
  }

}

##{$module-name-prefix-invoice}-payment-term {
  margin-left: 10px;
}
