/*************************************************************************/
/** Block: Pager
/*************************************************************************/

##{$module-name-prefix-base}-pager {
  color: color-text(lighter);
  text-align: right;
  width: 100%;
  font-size: 0.75rem;

  &:after {
    content: "■";
    font-size:0.8em;
    padding-right: 3px;
    padding-left: 2px;
    position:relative;
    top:-1px;
    color: color-second();
  }
}
